body {
  /* Background animation */
  background: linear-gradient(270deg, #77dbb3, #f3e55b, #9ddc70, #bf7691);
  background-size: 400% 400%;
  animation: gradientAnimation 240s ease infinite;
  
  /* Ensure the background covers the entire area */

  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;

  display: flex;
  justify-content: center;   /* Centers horizontally */
  align-items: center;       /* Centers vertically */
  height: 100vh;             /* Full height of the viewport */
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.App {
  text-align: center;
  width: 100%;
  max-width: 600px; /* You can adjust this */
  padding: 20px;
}

.flat-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.flat-button:hover {
  background-color: #0056b3;
}

.flat-button:active {
  background-color: #004080;
}

.flat-button:focus {
  outline: none;
}
