body {
  /* Background animation */
  background: linear-gradient(180deg, #8c8c8c, #b0b0b0, #d3d3d3);
  background-size: 200% 200%;
  animation: gradientAnimation 240s ease infinite;
  
  /* Ensure the background covers the entire area */

  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;

  display: flex;
  justify-content: center;   /* Centers horizontally */
  align-items: center;       /* Centers vertically */
  height: 100vh;             /* Full height of the viewport */
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.App {
  text-align: center;
  width: 100%;
  max-width: 600px; /* You can adjust this */
  padding: 20px;
}

.flat-button {
  background-color: #2e2e2e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid, #d3d3d3;
  cursor: pointer;
  font-size: 26px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: Ubuntu Mono;
}

.flat-button:hover {
  background-color: #212121;
}

.flat-button:active {
  background-color: #101010;
}

.flat-button:focus {
  outline: none;
}

.info-box {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* White with 0.2 opacity */
  padding: 20px; /* Adds space inside the div */
  border-radius: 10px; /* Smooth edges */
  max-width: 600px; /* Limits the width */
  margin: 20px auto; /* Centers the div horizontally */
  color: #000; /* Ensures text color is legible */
}

h1 
{
  font-size: 40px;
  font-family: Cinzel;
}

p 
{
  font-family: Saira Condensed;
}

h2
{
 font-family: Sora;
}

h3
{
 font-family: Urbanist;
}